<div class="container">
  <h1 class="mt-4 mb-4">Log Downloader</h1>

  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="onFormSubmit()">
        <div class="form-group">
          <label for="region">AWS Region</label>
          <select class="form-control" [(ngModel)]="selectedRegion" name="selectedRegion" (change)="onRegionChange()">
            <option *ngFor="let region of awsRegions" [value]="region">{{ region.regionName }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="logGroup">Log Group</label>
          <select class="form-control" [(ngModel)]="selectedLogGroup" name="selectedLogGroup" (change)="onLogGroupChange()">
            <option *ngFor="let group of logGroups" [value]="group.logGroupName">{{ group.logGroupName }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="logStream">Log Stream</label>
          <select class="form-control" [(ngModel)]="selectedLogStream"> name="selectedLogStream"
            <option *ngFor="let stream of logStreams" [value]="stream.logStreamName">{{ stream.logStreamName }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="startTime">Start Time</label>
          <input type="datetime-local" class="form-control" [(ngModel)]="startTime" name="startTime" required>
        </div>

        <div class="form-group">
          <label for="endTime">End Time</label>
          <input type="datetime-local" class="form-control" [(ngModel)]="endTime" name="endTime" required>
        </div>

        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" [(ngModel)]="debug" name="debug">
          <label class="form-check-label" for="debug">Debug Mode</label>
        </div>

        <button type="submit" class="btn btn-primary">Download Logs</button>
      </form>
    </div>
  </div>

  <div class="row mt-4" *ngIf="errorMessage">
    <div class="col-md-6">
      <div class="alert alert-danger" role="alert">{{ errorMessage }}</div>
    </div>
  </div>
</div>